<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @drink.name %>
</p>

<p>
  <b>Caffeine:</b>
  <%= @drink.caffeine %>
</p>

<p>
  <b>Description:</b>
  <%= @drink.description %>
</p>

<p>
  <b>Image url:</b>
  <%= @drink.image_url %>
</p>


<%= link_to 'Edit', edit_drink_path(@drink) %> |
<%= link_to 'Back', drinks_path %>
