<%= form_for(@consumption) do |f| %>
  <% if @consumption.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consumption.errors.count, "error") %> prohibited this consumption from being saved:</h2>

      <ul>
      <% @consumption.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="form-table">
    <tr>
      <td><%= f.label :drink %></td>
      <td><%= select_tag :drink_id, options_for_select(@drinks, selected: @default_drink), prompt: 'Select a drink' %></td>
    </tr>
    <tr>
      <td><%= f.label :when %></td>
      <td><%= f.datetime_select :consumed_at, default: Time.now %></td>
    </tr>
    <tr>
      <td><%= f.label :street_address %></td>
      <td><%= f.text_field :street_address %></td>
    </tr>
    <tr>
      <td><%= f.label :image_url, 'Image' %></td>
      <td><%= f.filepicker_field :image_url, class: 'btn btn-default' %></td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit class: 'btn btn-default save', value: 'Save' %>
  </div>
</table>

<% end %>
