<%= form_for(@consumption) do |f| %>
  <% if @consumption.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consumption.errors.count, "error") %> prohibited this consumption from being saved:</h2>

      <ul>
      <% @consumption.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :drink %>
    <%= select_tag :drink_id, options_for_select(@drinks), prompt: 'Select a drink' %>
  </div>
  <div class="field">
    <%= f.label :when %>
    <%= f.datetime_select :consumed_at %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success', value: 'Save' %>
  </div>
<% end %>
