<div class="panel panel-default">
  <div class="panel-heading">Log</div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <th>Drink</th>
        <th>Consumed</th>
        <th>Caffeine</th>
        <th></th>
        <th></th>
      </tr>

    <% @consumptions.each do |consumption| %>
      <tr>
        <td><%= consumption.drink.name %></td>
        <td><%= consumption.consumed_at.strftime('%b %e %Y %H:%M %p') %></td>
        <td><%= consumption.drink.caffeine %> mg</td>
        <td><%= link_to 'View', consumption %></td>
        <td><%= image_tag 'camera.svg', class: 'light-icon', 'data-toggle' => :tooltip, title: 'This consumption has a photo.' unless consumption.image_url.empty? %>
            <%= image_tag 'map.svg', class: 'light-icon', 'data-toggle' => :tooltip, title: 'This consumption has a location.' if consumption.geocoded? %>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<div class="panel panel-default home map">
  <div class="panel-heading">Map</div>
  <div class="panel-body">
    <% if Consumption.all.map(&:geocoded?).include?(true) %>
      <%= image_tag map_url(@consumptions), class: 'map' %>
    <% else %>
      Add a location to one of your recordings!
    <% end %>
  </div>
</div>

<div class="panel panel-default home stats">
  <div class="panel-heading">Stats</div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <td><strong>Recorded Consumptions:</strong></td>
        <td><%= @consumptions.count %></td>
      </tr>
      <tr>
        <td><strong>Consumptions today:</strong></td>
        <td><%= @today.count %></td>
      </tr>
      <tr>
        <td><strong>Consumptions this month:</strong></td>
        <td><%= @consumptions.where('consumed_at >= ?', 1.month.ago).count %></td>
      </tr>
      <tr>
        <td><strong>Consumptions this week:</strong></td>
        <td><%= @consumptions.where('consumed_at >= ?', 1.week.ago).count %></td>
      </tr>
      <tr>
        <td><strong>Caffeine today (mg):</strong></td>
        <td><%= caffeine(@today) %></td>
      </tr>
    </table>
  </div>
</div>

<%= render 'heatmap' if current_user.heatmap? %>
<br>
