<div class="panel panel-default">
  <div class="panel-heading">Consumption Log</div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <th>Drink</th>
        <th>Consumed</th>
        <th></th>
      </tr>

    <% @consumptions.each do |consumption| %>
      <tr>
        <td><%= consumption.drink.name %></td>
        <td><%= time_ago_in_words consumption.consumed_at %> ago</td>
        <td><%= link_to 'View', consumption %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<div class="panel panel-default map">
  <div class="panel-heading">Map</div>
  <div class="panel-body">
    <%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16" %>
  </div>
</div>

<div class="panel panel-default stats">
  <div class="panel-heading">Stats</div>
  <div class="panel-body">
    <table class="table">
      <tr>
        <td><strong>Recorded Consumptions:</strong></td>
        <td><%= current_user.consumptions.count %></td>
      </tr>
      <tr>
        <td><strong>Consumptions this month:</strong></td>
        <td>TODO</td>
      </tr>
      <tr>
        <td><strong>Consumptions this week:</strong></td>
        <td>TODO</td>
      </tr>
    </table>
  </div>
</div>

<%= render 'heatmap' if current_user.heatmap? %>
<br>
