<h1>Listing consumptions</h1>

<table>
  <tr>
    <th>Drink</th>
    <th>Consumed at</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @consumptions.each do |consumption| %>
  <tr>
    <td><%= consumption.drink_id %></td>
    <td><%= consumption.consumed_at %></td>
    <td><%= consumption.user_id %></td>
    <td><%= link_to 'Show', consumption %></td>
    <td><%= link_to 'Edit', edit_consumption_path(consumption) %></td>
    <td><%= link_to 'Destroy', consumption, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Consumption', new_consumption_path %>
