<p id="notice"><%= notice %></p>

<p>
  <b>Drink:</b>
  <%= @consumption.drink_id %>
</p>

<p>
  <b>Consumed at:</b>
  <%= @consumption.consumed_at %>
</p>

<p>
  <b>User:</b>
  <%= @consumption.user_id %>
</p>


<%= link_to 'Edit', edit_consumption_path(@consumption) %> |
<%= link_to 'Back', consumptions_path %>
